

img
{
    border: 1px solid;
    border-radius: 50%;
    position: relative;
    float: left;
}

h1 {
    color: darkcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    text-align: center;
}
p{
    font-size: 35px;
    color: dark;
    text-align: center;
}
p a
{
    text-decoration: none;
  background-color: blue;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}

body
{
    background-image: url('404.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
