.error 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
	grid-template-areas: "mag mag git";
	width: 1200px;
	margin: 100px auto;	
}
.mag 
{
    grid-area: mag;
    text-align: center;
    text-decoration: double;
    font-size: 50px;
    
}
.git {
    grid-area: git;
    font-size: 100px;
}
img
{
    width: 400px;
}

h1{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body
{
    background-color: brown;
}
